.container {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('../public/bg.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.heading{
  text-align: center;
  font-family: 'Merriweather', serif;
  color: aliceblue;
  padding: 10px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.register{
  height: 40vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(224, 246, 253);
  border-radius: 10px;
}

.input{
  width: 80%;
}

.input h3{
  font-family: 'Merriweather', serif;
  margin: 5px;
  color: #2f2f2f;
}

.input input{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: black;
  background-color: rgb(224, 246, 253);
  box-shadow: inset -3px -3px 5px 0 #ffffff, inset 4px 4px 5px 0 #00000030;
}

.input input:focus{
  outline: none;
}

.registerButton{
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(213, 245, 255);
  box-shadow: -3px -3px 5px 0 #ffffff, 3px 3px 5px 0 #00000070;
  font-family: 'Merriweather', 'serif';
  font-size: 18px;
  font-weight: 700;
}

.registerButton:focus{
  box-shadow: none;
  animation: animShadow .3s forwards;
}

.footer{
  padding: 10px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Merriweather', serif;
}

@keyframes animShadow{
  100% {
    box-shadow: -3px -3px 5px 0 #ffffff, 3px 3px 5px 0 #00000070;
  }
}